<%- layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/images.css" class="rel"> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form method="post" action="/campgrounds" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a title.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a location.
                </div>
            </div>
            <!-- IMAGE -->
            <div class="mb-3">
                <label class="form-label">Choose Image(s)</label>
                <div class="form-file custom-file">
                    <input class="form-control custom-file-input" type="file" id="images" name="images" multiple onchange="previewMultiple(event)">
                    <label for="images" class="form-label custom-file-label"></label>
                </div>
                <div id="formFile"></div>
            </div>
             <!-- <input type="file" name="images" multiple>  -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group mb-3">    
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" id="price" name="campground[price]" required min="0">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a price.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="image" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a description.
                </div>
            </div>
            <button class="btn btn-success mb-3">Add Campground</button>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>
